In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv("C:/Users/Amulya/OneDrive/Documents/Desktop/Assginment/Data/creditcard.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
df["Transaction_hour"] = (df["Time"] // 3600) % 24
print(df["Transaction_hour"])

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
284802    23.0
284803    23.0
284804    23.0
284805    23.0
284806    23.0
Name: Transaction_hour, Length: 284807, dtype: float64

In [8]:
scaler = StandardScaler()
df["Amount_scaled"] = scaler.fit_transform(df[["Amount"]])
print(df["Amount_scaled"])

0         0.244964
1        -0.342475
2         1.160686
3         0.140534
4        -0.073403
            ...
284802   -0.350151
284803   -0.254117
284804   -0.081839
284805   -0.313249
284806    0.514355
Name: Amount_scaled, Length: 284807, dtype: float64

In [9]:
df["Daily_Transaction_Count"] = df.groupby("Transaction_hour")["Amount"].transform("count")
print(df["Daily_Transaction_Count"])

0          7695
1          7695
2          7695
3          7695
4          7695
          ...
284802    10938
284803    10938
284804    10938
284805    10938
284806    10938
Name: Daily_Transaction_Count, Length: 284807, dtype: int64